<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Reg-Line's Wait Time Detail Page</title>
  </head>
  <body>
    <header><h1>{{ etaWaitStatus.etaMessage }}</h1></header>
    <main>
      <form action="{% url 'polls:post' etaWaitStatus.id %}" method="post"> <!-- urls.py - Keep working on THIS in order to migrate/refactor over to ETA DB value! polls:post/results instead of vote. -->
      {% csrf_token %}
      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
          <input type="text" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote">
      </form>
    </main>
    <footer></footer>
  </body>
</html>
